
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is from Index View</h2>

@section head
{
    <style type="text/css">
        h1 {
            color:cornflowerblue;
        }
    </style>
   }

